In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Finschhafen,PG,2020-08-28 21:54:41,-6.60,147.87,78.96,83,100,7.36
1,1,Kulhudhuffushi,MV,2020-08-28 21:54:41,6.62,73.07,82.36,74,7,11.34
2,2,Tunceli,TR,2020-08-28 21:54:42,39.11,39.55,80.60,21,0,1.12
3,3,Torbay,CA,2020-08-28 21:49:12,47.67,-52.73,62.60,51,75,16.11
4,4,Tandalti,SD,2020-08-28 21:54:42,13.02,31.87,82.45,63,100,3.15

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# 1. Assign the locations to an array of latitude and longitude pairs.
#locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
#temperatures = # an array of equal length of the locations array.
# 3. Assign the figure variable to the gmaps.figure() attribute.
#fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
#heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
#fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
#fig

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[['Lat', 'Lng']]

# Get the maximum temperature.
max_temp = city_data_df['Max Temp']

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp],
                                dissipating=False,
                                max_intensity=300,
                                point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the giure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent Cloudiness
# Get the latitude and longitude.
locations = city_data_df[['Lat', 'Lng']]

# Get the maximum temperature.
clouds = city_data_df['Cloudiness']

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
                                dissipating=False,
                                max_intensity=300,
                                point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the giure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of Windspeed
# Get the latitude and longitude.
locations = city_data_df[['Lat', 'Lng']]

# Get the maximum temperature.
wind = city_data_df['Wind Speed']

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
                                dissipating=False,
                                max_intensity=300,
                                point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the giure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Finschhafen,PG,2020-08-28 21:54:41,-6.60,147.87,78.96,83,100,7.36
1,1,Kulhudhuffushi,MV,2020-08-28 21:54:41,6.62,73.07,82.36,74,7,11.34
2,2,Tunceli,TR,2020-08-28 21:54:42,39.11,39.55,80.60,21,0,1.12
4,4,Tandalti,SD,2020-08-28 21:54:42,13.02,31.87,82.45,63,100,3.15
7,7,Butaritari,KI,2020-08-28 21:49:22,3.07,172.79,82.27,74,100,15.21
10,10,Auki,SB,2020-08-28 21:54:42,-8.77,160.70,82.92,72,99,2.46
11,11,Albany,US,2020-08-28 21:49:21,42.60,-73.97,78.01,63,62,5.21
21,21,Clarksburg,US,2020-08-28 21:51:33,39.28,-80.34,75.99,94,90,6.93
26,26,Hambantota,LK,2020-08-28 21:50:01,6.12,81.12,77.00,94,100,4.70
34,34,Cabo San Lucas,MX,2020-08-28 21:49:43,22.89,-109.91,82.99,88,90,5.82

In [17]:
preferred_cities_df.count()

City_ID       183
City          183
Country       183
Date          183
Lat           183
Lng           183
Max Temp      183
Humidity      183
Cloudiness    183
Wind Speed    183
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
0      Finschhafen      PG     78.96  -6.60  147.87
1   Kulhudhuffushi      MV     82.36   6.62   73.07
2          Tunceli      TR     80.60  39.11   39.55
4         Tandalti      SD     82.45  13.02   31.87
7       Butaritari      KI     82.27   3.07  172.79
10            Auki      SB     82.92  -8.77  160.70
11          Albany      US     78.01  42.60  -73.97
21      Clarksburg      US     75.99  39.28  -80.34
26      Hambantota      LK     77.00   6.12   81.12
34  Cabo San Lucas      MX     82.99  22.89 -109.91

In [24]:
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the latitude and longitude to location key for the params dictionary.
    params['location'] = f'{lat},{lng}'
    
    # Use the search term: 'lodging' and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found...skipping.')

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [25]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Finschhafen,PG,78.96,-6.60,147.87,Cossam Guest House
1,Kulhudhuffushi,MV,82.36,6.62,73.07,Haajy Guest House 1
2,Tunceli,TR,80.60,39.11,39.55,Grand Hotel Şaroğlu
4,Tandalti,SD,82.45,13.02,31.87,منزل : الهادي محمد مساعد
7,Butaritari,KI,82.27,3.07,172.79,Isles Sunset Lodge
10,Auki,SB,82.92,-8.77,160.70,Auki Motel
11,Albany,US,78.01,42.60,-73.97,
21,Clarksburg,US,75.99,39.28,-80.34,Greenbrier Motel & Restaurant
26,Hambantota,LK,77.00,6.12,81.12,Bungalow 63
34,Cabo San Lucas,MX,82.99,22.89,-109.91,Hotel Tesoro Los Cabos

In [26]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{column1}</dd>
<dt>Another name</dt><dd>{column2}</dd>
</dl>
"""

In [29]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [30]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))