## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Annau,TM,37.89,58.52,69.80,35,0,4.70,clear sky
1,1,Rikitea,PF,-23.12,-134.97,69.28,66,0,5.77,clear sky
2,2,Kuching,MY,1.55,110.33,77.00,94,20,2.24,few clouds
3,3,Hobart,AU,-42.88,147.33,57.99,58,75,13.87,broken clouds
4,4,Ushuaia,AR,-54.80,-68.30,33.80,94,90,11.41,light snow

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is the minimum temperature you would like for your vacation? '))
max_temp = float(input('What is the maximum temperature you would like for your vacation '))

What is the minimum temperature you would like for your vacation? 70
What is the maximum temperature you would like for your vacation 95

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
new_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                      (city_data_df['Max Temp'] >= min_temp)]
new_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Kuching,MY,1.55,110.33,77.00,94,20,2.24,few clouds
9,9,Tiarei,PF,-17.53,-149.33,82.40,65,20,10.29,few clouds
12,12,Teknaf,BD,20.86,92.31,78.55,89,58,3.74,broken clouds
18,18,Avarua,CK,-21.21,-159.78,77.00,69,22,13.87,few clouds
21,21,Gotsu,JP,35.00,132.22,84.20,74,20,5.82,few clouds
22,22,Vaini,TO,-21.20,-175.20,78.80,74,75,11.41,broken clouds
24,24,San Patricio,MX,19.22,-104.70,84.20,51,75,11.41,broken clouds
30,30,Albany,US,42.60,-73.97,70.00,81,65,1.92,broken clouds
32,32,Key West,US,24.56,-81.78,89.60,70,1,9.17,clear sky
33,33,Gunjur,GM,13.20,-16.73,78.80,94,20,3.36,few clouds

In [5]:
# 4a. Determine if there are any empty rows.
new_cities_df.count()

City_ID                363
City                   363
Country                363
Lat                    363
Lng                    363
Max Temp               363
Humidity               363
Cloudiness             363
Wind Speed             363
Current Description    363
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
cities_nan_value = float("NaN")
new_cities_df.replace("",cities_nan_value, inplace=True)
new_cities_clean_df = new_cities_df.dropna(how='any', inplace=False)
new_cities_clean_df.head(10)

C:\Users\oybek\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:4373: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Kuching,MY,1.55,110.33,77.00,94,20,2.24,few clouds
9,9,Tiarei,PF,-17.53,-149.33,82.40,65,20,10.29,few clouds
12,12,Teknaf,BD,20.86,92.31,78.55,89,58,3.74,broken clouds
18,18,Avarua,CK,-21.21,-159.78,77.00,69,22,13.87,few clouds
21,21,Gotsu,JP,35.00,132.22,84.20,74,20,5.82,few clouds
22,22,Vaini,TO,-21.20,-175.20,78.80,74,75,11.41,broken clouds
24,24,San Patricio,MX,19.22,-104.70,84.20,51,75,11.41,broken clouds
30,30,Albany,US,42.60,-73.97,70.00,81,65,1.92,broken clouds
32,32,Key West,US,24.56,-81.78,89.60,70,1,9.17,clear sky
33,33,Gunjur,GM,13.20,-16.73,78.80,94,20,3.36,few clouds

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = new_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Kuching,MY,77.00,few clouds,1.55,110.33,
9,Tiarei,PF,82.40,few clouds,-17.53,-149.33,
12,Teknaf,BD,78.55,broken clouds,20.86,92.31,
18,Avarua,CK,77.00,few clouds,-21.21,-159.78,
21,Gotsu,JP,84.20,few clouds,35.00,132.22,
22,Vaini,TO,78.80,broken clouds,-21.20,-175.20,
24,San Patricio,MX,84.20,broken clouds,19.22,-104.70,
30,Albany,US,70.00,broken clouds,42.60,-73.97,
32,Key West,US,89.60,clear sky,24.56,-81.78,
33,Gunjur,GM,78.80,few clouds,13.20,-16.73,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():  
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    params['location'] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except(IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [14]:
# 7. Drop the rows where there is no Hotel Name.
nan_value = float("NaN")
hotel_df.replace("",nan_value, inplace=True)
clean_hotel_df = hotel_df.dropna(subset=['Hotel Name'], inplace=False)

In [23]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Kuching,MY,77.00,few clouds,1.55,110.33,Hilton Kuching
9,Tiarei,PF,82.40,few clouds,-17.53,-149.33,Le Rocher de Tahiti
12,Teknaf,BD,78.55,broken clouds,20.86,92.31,Magnum Engineering & Construction
18,Avarua,CK,77.00,few clouds,-21.21,-159.78,Paradise Inn
21,Gotsu,JP,84.20,few clouds,35.00,132.22,Super Hotel Gotsu Ekimae

In [15]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [17]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [21]:
# 11a. Add a marker layer for each city to the map. 
max_temp = clean_hotel_df['Max Temp']

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
                                dissipating=False, max_intensity=300,
                                point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Add the heatmap layer.
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))